.nav-container {
  background: linear-gradient(
    180deg,
    rgba(12, 0, 19, 1),
    rgba(12, 0, 19, 0.9),
    rgba(12, 0, 19, 0.7),
    rgba(12, 0, 19, 0.001)
  );
}

.nav-right-btn {
  background: linear-gradient(
    90.16deg,
    #a15df8 2%,
    #72c5fb 45.98%,
    #60ebfe 98.04%
  );
  font-family: "Poppins";
  color: #222222;
  @apply px-3 py-2 rounded select-none;
}

.hero-span-nft {
  background: linear-gradient(
    90.16deg,
    rgba(71, 8, 181, 1),
    rgba(137, 6, 186, 1)
  );
  background-clip: text;
  color: transparent;
}

.service-counts {
  background: linear-gradient(
    90.16deg,
    rgba(161, 93, 248, 1),
    rgba(114, 197, 251, 1),
    rgba(96, 235, 254, 1)
  );
  background-clip: text;
  color: transparent;
}

.hero-left-bg {
  background: #120448;
  filter: blur(300px);
  // height: 500px;
  // height: 100%;
  width: 100%;
  @apply h-[550px] s360:h-[400px] sm:h-[250px] md:h-[500px];
}

.mid-bg-grad {
  background: #34034f;
  filter: blur(300px);
  height: 100%;
  width: 100%;
}

.hr-grad-line {
  border-image-source: linear-gradient(
    90.16deg,
    #a15df8 2%,
    #72c5fb 45.98%,
    #60ebfe 98.04%
  );
  background: linear-gradient(
    90.16deg,
    #a15df8 2%,
    #72c5fb 45.98%,
    #60ebfe 98.04%
  );
  height: 3px;
  width: 100%;
}

.home-mid-view-more-btn {
  background: linear-gradient(94.1deg, #4708b5 39.24%, #8906ba 60.07%);
  padding: 10px 20px;
  transform: skewX(-20deg);
  @apply w-40 text-center;
}

.home-mid-view-more-btn div {
  transform: skewX(20deg);
}

.news-letter-container {
  background: linear-gradient(
    94.1deg,
    rgba(71, 8, 181, 0.56) 39.24%,
    rgba(137, 6, 186, 0.6) 60.07%
  );
  backdrop-filter: blur(20px);
}

.bg-blue-grad {
  background: #120448;
  filter: blur(300px);
  height: 500px;
  width: 100%;
  // width: 500px;
}

.bg-purple-grad {
  background: #34034f;
  filter: blur(300px);
  height: 500px;
  width: 100%;
  // width: 500px;
}
